.MenuItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-icon{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.item-text p{
    margin-left: 5px;
    font-size: 20px;
    margin: 5px;
}

.item-text.enabled{
    color: #f9f9f9;
    font-weight: 600;
}

.item-text.disabled{
    color: #808191;
}

.item-icon.enabled{
    color: #f9f9f9 !important;
    font-size: 25px;
}

.item-icon.disabled{
    color: #808191 !important;
    font-size: 25px;
}

.top{
    display: flex;
    flex-direction: column;
}

.bottom{
    display: flex;
    flex-direction: row;
    margin: 6px;
}

.bottom-text{
    margin-left: 5px;
    font-size: 15px;
    color: #808191
}