.Sidebar{
    background-color: #1F1D2B;
    width: 300px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
}

.Sidebar-title{
    color: #808191;
    font-style: bold;
}