.CommentsTema{
    margin-bottom: 80px;
    margin-top: 40px;
    width: 100%;
    height: auto;
    background: #252836;
    border-radius: 16px;
    color: #f9f9f9 !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 12px;
}

.ant-comment-content-author-name > a, .ant-comment-actions > li > span{
    color: #fff !important;
}

.CommentsTema__title{
    align-self: flex-start;
    padding-left: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #22B07D;
}